<footer>
  <small>
    <%= link_to 'Contact List. Todos os direitos reservados.', root_path %>
  </small>

  <nav>
    <ul>
      <li>
        <a href=#>Sobre</a>
      </li>
      <li>
        <a href=#>Contato</a>
      </li>
    </ul>
  </nav>
</footer>