
<nav class="navbar navbar-inverse navbar-static-top">

  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#expanded-menu" aria-expanded=" false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Contact List', root_url, class: 'navbar-brand' %>
    </div>

    <!-- Conteudo exibido em telas maiores e que serao escondidos em telas menores -->
    <div class="collapse navbar-collapse" id="expanded-menu">
      <ul class="nav navbar-nav">
          <li class="active">
            <a href="#"> Nova Conta </a>
          </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#"> Entrar </a>
        </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Bem vindo, Lucas <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#"> Minha Pagina </a>
                
              </li>
              <li>
                <a href="#"> Editar </a>
              </li>
              <li class="divider" role="separator"></li>
              <li>
                <a href="#"> Sair </a>
              </li>
            </ul>
          </li>

      </ul>

    </div>

  </div>

</nav>
